.git
.github
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
logs_mqtt
tests
dashboards
frontend/data
!frontend/data/.gitkeep
amazon_ca.pem
device.pem.crt
private.pem.key
.env
.env.*
*.sqlite3
*.db
